{% extends 'base_template.html' %}
{% block title %} {{ title }} {% endblock %}}
{% block h1 %} {{ title }} {% endblock %}

{% block about_us_active %} active {% endblock %}
{% block about_us_span %} <span class="sr-only">(current)</span> {% endblock %}

{% block content %}
    <p> </p>
    <h3>Teach me BMX - это:</h3>
    <ul>
        <li>Твой путь к результатам и удовольствию</li>
        <li>Изменение мышления и отношения к достижению целей</li>
        <li>Возможность научиться понимать и чувствовать себя лучше</li>
    </ul>

    <h3>Цель проекта:</h3>
    <ul>
        <li>Помогать тебе стать лучше, полюбить этот спорт,
            научиться планировать и достигать целей, а также быть в гармонии с собой.</li>
    </ul>

    <h3>Преимущества проекта:</h3>
    <h4>🏄🏻‍♂️ Безопасно</h4>
    <p>Во время занятий тренер всегда контролирует и помогает ученикам,
        подсказывает и страхует при выполнении элементов.<br> Это минимизирует вероятность получения травм.</p>

    <h4>🧩 Удобно</h4>
    <p>Занятия проводятся в удобном для клиентов месте и в удобное тебе время.<br>
        Привезти сына/дочь на занятие после работы?<br> Это ваш вариант!</p>

    <h4>⛳️ Комфортно</h4>
    <p>Каждое задание для каждого из учеников подбирается исходя из их уровня.<br>
        Это позволяет ученикам больше думать как выполнить элемент, а не как побороть страх.</p>

    <h4>🔋 Захватывающе</h4>
    <p>Каждый ученик получает удовольствие и адреналин уже с первого занятия.<br> Это непередаваемые ощущения,
        когда быстро едешь или летаешь по фигурам: ветер свистит в ушах, а адреналин "кипит" внутри.</p><br>

    <p>Более 100 учеников уже поменяли свой подход и достигли целей благодаря Teach me BMX.<br>
        Пришло и твоё время действовать!</p><br>

    <h4>Запишись на занятие сам (или запиши ребёнка) и добро пожаловать в мир BMX!</h4>
{% endblock %}